<ng-container class="row" *ngIf="canLoad">
  <div class="input-field">
    <i *ngIf="inputData.icon" class="material-icons prefix">{{inputData.icon}}</i>
    <input *ngIf="inputData.type !== 'textarea'"
           type="{{inputData.type ? inputData.type : 'text'}}"
           [ngClass]="{'valid': inputData.isValid === true, 'invalid': inputData.isValid === false}"
           (keyup)="onKeyUp($event)">

    <textarea *ngIf="inputData.type== 'textarea'" class="materialize-textarea" (keyup)="onKeyUp($event)"></textarea>
    <label>{{inputData.label}} <i class="required">{{requiredMessage()}}</i></label>
  </div>

  <ng-container *ngFor="let message of inputData.messages">
    <p *ngIf="message.show" [ngClass]="'notification '+ message.type">{{message.content}}</p>
  </ng-container>
</ng-container>
