<navigation (action)="clicked($event)"></navigation>

<div class="container">
  <div class="row">
    <div class="col s12">
      <text-input [inputData]="inputData" ></text-input>
      <text-input [inputData]="{label: 'Description', type: 'textarea'}" ></text-input>
      <text-input [inputData]="{label: 'Date du virement', icon: 'date_range' , type: 'date'}" ></text-input>
      <text-input [inputData]="{label: 'Montant en euros', type: 'number'}" ></text-input>
      <switch-elt [inputData]="{label: 'Virement mensuel'}" ></switch-elt>
      <text-input [inputData]="{label: 'Date de fin' , icon: 'date_range', type: 'date'}" ></text-input>
    </div>
  </div>
</div>
