<header>
  <nav-component [navigationModel]="navigationModel"></nav-component>
</header>

<form [formGroup]="incomeForm" (ngSubmit)="submitIncomeForm()">
  <section class="row">
    <mat-form-field>
      <input matInput placeholder="{{'income.form.add.origin' | translate}}" formControlName="origin">
    </mat-form-field>

    <mat-form-field>
        <textarea matInput placeholder="{{'income.form.add.description' | translate}}"
                  formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="{{'income.form.add.transferDate' | translate}}"
             [matDatepicker]="transferDatePicker"
             formControlName="transferDate">
      <mat-datepicker-toggle matSuffix [for]="transferDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #transferDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" placeholder="{{'income.form.add.amount' | translate}}" formControlName="amount">
    </mat-form-field>
  </section>

  <section class="row">
    <div class="switch">
      <span class="label">{{'income.form.add.isProgrammed' | translate}}</span>
      <mat-slide-toggle class="programmed switch" formControlName="isProgrammed"></mat-slide-toggle>
    </div>
    <mat-form-field *ngIf="incomeForm.value['isProgrammed']">
      <input matInput placeholder="{{'income.form.add.endDate' | translate}}" [matDatepicker]="endDatePicker"
             formControlName="endDate">
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>
  </section>

  <section class="button row">
    <button mat-raised-button [disabled]="incomeForm.invalid" [color]="'primary'">
      {{('income.form.add.submit' | translate).toUpperCase()}}
    </button>
  </section>
</form>
