<nav-component [navigationModel]="navigationModel"></nav-component>
<main class="income list">
  <div *ngIf="!incomeList">
      <p>{{'income.list.empty' | translate}}</p>
  </div>
  <mat-card *ngFor="let income of incomeList; let $index = index" class="card" [ngClass]="'background-' + $index">
    <div class="income id">
      <em class="title">{{income.origin}}</em>
      <em class="subtitle">{{utils.formatDate(income.transferDate)}}</em>
    </div>
    <div class="income payment">
      <em class="amount">{{income.amount.value}} euro</em>
      <em>
        <img src=" {{'assets/img/' +(income?.payment.type === 'card' ? 'credit-card': 'money') + '.png'}}" alt="">
      </em>
    </div>
  </mat-card>
</main>
