/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: "Open Sans", Roboto, "Helvetica Neue", sans-serif;
  color: #303030;
}

div {
  font-family: "Open Sans", Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
}

.title {
  font-family: "Proza Libre", "Open Sans",  Roboto, "Helvetica Neue", sans-serif;
}
