p.notification {
  font-size: 14px;
  font-style: italic;
  margin: 0;

  &.warn {
    color: orange;
  }

  &.info {
    color: green;
  }

  &.error {
    color: red;
  }
}
div.row, div.input-field {
  margin: 0;
}

:host {
  width: 100%;
}
