@import "../../../styles/theme";

main.container {
  display: flex;
  flex-flow: column;

  div.wrapper {
    text-align: center;
    margin: 0 2%;

    em.icon {
      color: white;
      font-size: 100px;
    }

    em.navigation {
      font-weight: 700;
      font-size: 21px;
      color: white;
      line-height: 0.9;

      &.left {
        float: left;
      }

      &.right {
        float: right;
      }

      &.title {
        font-style: normal;
        color: white;
        font-size: 16px;
      }
    }

    p {
      color: white;
      margin: 0 0 5px;

      &.title {
        font-size: 24px;
        font-weight: bold;
      }

      &.sub-title {
        font-size: 16px;
      }
    }
  }
}

:host {
  display: block;
  background-color: $primary;
  padding: 20px 20px 25px;
  box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
}
